footer.footer 
    .footer__logo
        img(src='/img/logo-green-small.png' alt='Gotours logo')
    ul.footer__nav 
        a(href='/aboutUs') About us &nbsp;&nbsp;&nbsp;
        a(href='/downloadApp') Download apps &nbsp;&nbsp;&nbsp;
        a(href='/becomeGuide') Become a guide &nbsp;&nbsp;&nbsp;
        a(href='/careers')  Careers &nbsp;&nbsp;&nbsp;
        a(href='/contact')  Contact &nbsp;
    p.footer__copyright ©️ by Vivek Tiwari. All rights reserved.