footer.footer 
    .footer__logo
        img(src='/img/logo-green.png' alt='Gotours logo')
    ul.footer__nav 
        li(href='#') About us
        li(href='#') Download apps
        li(href='#') Become a guide 
        li(href='#') Careers
        li(href='#') Contact 
    p.footer__copyright ©️ by Vivek Tiwari. All rights reserved.