header.header
    nav.nav--tours
        a.nav__el(href='/') All tours
        // PLACEHOLDER FOR FORM
    .header__logo 
        img(src='/img/logo-white.png' alt='Gotours logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me') 
                img.nav__user-img(src=`/img/users/${user.photo}` alt='User Photo')
                span= user.name.split(' ')[0]
        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='/signup') Sign up