extends base

block content
  main.main
      h2.heading-secondary.ma-bt-lg About Us

      h2(style="text-align:justify") 
        | "Travel is the main thing you purchase that makes you more extravagant”. We, at ‘Gotours’, swear by this and put stock in satisfying travel dreams that make you perpetually rich constantly. We have been moving excellent encounters for a considerable length of time through our cutting-edge planned occasion bundles and other fundamental travel administrations. We rouse our clients to carry on with a rich life, brimming with extraordinary travel encounters.
        | 
      h2(style="text-align:justify") 
        | Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy the stunning magnificence of America and far-off terrains. We need you to observe sensational scenes that are a long way past your creative ability. The powerful inclination of American voyagers to travel more nowadays is something that keeps us inspired to satisfy our vacation necessities. Our vision to give you a consistent occasion encounter makes us one of the main visit administrators in the regularly extending travel industry.
        | 
      h2(style="text-align:justify") 
        | To guarantee that you have a satisfying occasion and healthy encounters, all our vacation administrations are available to your no matter what. On your universal occasion, we guarantee that you are very much outfitted with outside trade ( Cards, Currency Notes), visa, and travel protection.
        | 