extends base

block content
  main.main
    .careers-form
      h2.heading-secondary.ma-bt-lg Careers

      p It's our pleasure that you want to build careers with us! 
      p We have a great team who is very enthusiastic and dedicated. Most importantly they love what they do. 
      p If you feel the connect? You are a step away from building a great careers with Gotours.

      form.form.form--becomeGuide
        .form__group
          button.btn.btn--green Apply
