extends base

block content
  main.main
      h2.heading-secondary.ma-bt-lg Download app

      h2(style="text-align:justify") 
        | Apologies! We are still building our Gotours mobile app.... 
        
      h1(style="text-align:justify; color: #55c57a; font-weight:bold", ) 
        | Coming Soon!!!    

      
