extends base

mixin navItem(link, text,icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}


block content 
    main.main
      .user-view
        nav.user-view__menu
          ul.side-nav
            +navItem('#', 'Settings', 'settings', true)
            +navItem('/my-bookings', 'My bookings', 'briefcase')
            +navItem('/my-reviews', 'My reviews', 'star')
            +navItem('/my-billings', 'Billing', 'credit-card')

          - if(user.role === 'admin')
            .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-tours', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

        .user-view__content
          .user-view__form-container
            .searchUsers-form
              h2.heading-secondary.ma-bt-lg Manage Users
              form.form.form--searchUsers
                .form__group
                  label.form__label(for='searchCriteria') Search Criteria
                  select#searchCriteria.form__input.search-select(for='searchCriteria' required)
                    option(value='0', selected) -- Select --
                    option(value='name') Name
                    option(value='role') Role
                    option(value='email') Email
                    option(value='active') Status 
                .form__group
                  label.form__label(for='searchValue') Value
                  input#searchValue.form__input(type='text', value = '', required)
                .form__group
                  a#search-user-btn.btn.btn--green(href='#') Search User
                  | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  a#create-user-btn.btn.btn--green(onclick="window.location.href='/create-user'") Create User
              br    
              h2.no_result_header(id='no-result-header' value ='')
              br
              .table-wrapper
                table.searchUsers-table(id='searchUsers-table' )
                  thead.table-header(id='table-header' )
                    tr 
                      th Name
                      th Email
                      th Details
                      tbody.table-body(id='table-rows' )



