extends base

mixin navItem(link, text,icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block content 
    main.main
      .user-view
        nav.user-view__menu
          ul.side-nav
            +navItem('#', 'Settings', 'settings', true)
            +navItem('/my-bookings', 'My bookings', 'briefcase')
            +navItem('/my-reviews', 'My reviews', 'star')
            +navItem('/my-billings', 'Billing', 'credit-card')

          - if(user.role === 'admin')
            .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-tours', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

        .user-view__content
          .user-view__form-container
            .searchTours-form
              h2.heading-secondary.ma-bt-lg Search Tours
              form.form.form--searchTours
                .form__group
                  label.form__label(for='searchCriteria') Search Criteria
                  select#searchCriteria.form__input.search-select(for='searchCriteria' required)
                    option(value='0', selected) -- Select --
                    option(value='name') Tour Name
                    option(value='duration') Duration
                    option(value='price') Price
                    option(value='ratingsAverage') Average Ratings
                    option(value='locations') Locations 
                    option(value='startLocation') Start Location 
                .form__group
                  label.form__label(for='searchValue') Value
                  input#searchValue.form__input(type='value', required)
                .form__group
                  a#search-tour-btn.btn.btn--green(href='#') Search Tour
                  | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  a#create-tour-btn.btn.btn--green(onclick="window.location.href='/create-tour'")  Create Tour
              br    
              h2(id='no-result-header' value ='')
              br
              .table-wrapper
                table.searchTours-table(id='searchTours-table' )
                  thead.table-header(id='table-header' )
                    tr 
                      th Name
                      th Duration
                      th Price
                      th Summary
                      th Details
                      tbody.table-body(id='table-rows' )